body {
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  margin: 40px 0 5px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

h1 > span {
  display: block;
  color: #dada0a;
}

h2,
h4 {
  flex: none;
  width: 260px;
  margin: 0 15px 5px 0;
  font-size: 35px;
  text-align: right;
  font-family: 'Fjalla One', sans-serif;
  color: #656464;
}

h4 {
  margin-top: 15px;
  font-size: 25px;
  color: #dada0a;
}

header {
  margin-bottom: 20px;
}

section {
  display: flex;
}

hr {
  width: 100%;
  height: 1px;
  margin-bottom: 38px;
  border: 1px solid #dada0a;
  box-shadow: 0px 0px 8px 1px #dada0a;
}

hr:last-child {
  margin-bottom: 0;
}

p {
  margin: 5px 25px;
  text-indent: 30px;
  text-align: justify;
}

li {
  margin-bottom: 10px;
}

table {
  margin: 0 25px;
  border: 1px solid #dada0a;
}

th,
td {
  padding: 5px 25px;
  border: 1px solid #656464;
  border-radius: 7px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.inner-wrap {
  display: flex;
  justify-content: space-between;
}

.responsive-wrap {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.photo {
  margin: 10px;
  height: 220px;
  border-radius: 50%;
}

.name {
  margin: 10px auto;
  font-size: 24px;
}

.name > p {
  margin: initial;
  font-size: 18px;
  font-family: 'Fjalla One', sans-serif;
  text-indent: initial;
}

.contacts {
  margin: 35px 60px 0 0;
  list-style: none;
}

.contacts__item {
  position: relative;
  margin: 17px 0;
  font-size: 18px;
  color: #656464;
}

.contacts__item::before,
.code-examples__link::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  margin-top: -2px;
  background: #dada0a;
  transform: rotateZ(45deg);
}

.contacts__item_address {
  display: inline-block;
  font-style: normal;
}

.contacts__item > a {
  color: #656464;
  text-decoration: none;
}

.contacts a:hover {
  color: #dada0a;
}

.content {
  width: 100%;
  margin: 15px 0 20px 15px;
}

.additional {
  padding: 11px 0;
}

.skills {
  margin-top: 2px;
}

.skills > li:first-child {
  margin-bottom: 26px;
}

.code-examples > li {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.code-examples__list {
  margin-top: 10px;
  list-style: none;
}

.code-examples__list > li {
  font-size: 17px;
  font-weight: normal;
}

.code-examples__link {
  position: relative;
}

.code-examples__link a {
  color: #656464;
  text-decoration: none;
}

.code-examples__link a:hover {
  color: #dada0a;
}

.qualifications {
  margin: 26px 25px;
  text-indent: 0;
}

.qualifications > span {
  display: none;
}

.experience {
  margin: 0 25px 15px;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0;
}

.experience .period {
  display: none;
}

.experience > span {
  display: block;
  font-size: 17px;
  font-weight: normal;
}

@media (max-width: 749px) {

  h2,
  h4 {
    width: 220px;
  }

  .inner-wrap {
    display: block;
  }

  .responsive-wrap {
    width: 100%;
    justify-content: space-around;
  }

  .name {
    margin: 10px;
  }

  .contacts {
    margin: 10px 25px;
  }

  .contacts__item {
    display: inline-flex;
    flex: none;
    margin: 0 16px;
  }

}

@media (max-width: 650px) {

  h1 {
    margin-top: 20px;
    font-size: 40px;
  }

  h1 > span {
    display: inline;
  }

  h2 {
    width: 100%;
    margin: 5px 25px;
    font-size: 30px;
    text-align: left;
  }

  h4 {
    display: none;
  }

  hr {
    margin-bottom: 10px;
  }

  section {
    display: block;
  }
  
  .inner-wrap {
    text-align: center;
  }

  .responsive-wrap {
    display: block;
  }

  .name > p {
    text-align: center;
  }

  .additional {
    display: none;
  }

  .contacts {
    margin: 25px;
  }

  .content {
    margin: 0 0 30px;
  }

  .skills > li:first-child {
    margin-bottom: 10px;
  }

  th,
  td {
    padding: 5px;
  }

  .qualifications > span,
  .experience .period {
    display: inline;
    margin-right: 15px;
    font-size: 17px;
    font-family: 'Fjalla One', sans-serif;
    color: #dada0a;
  }
}